# Configuración del Servidor
PORT=3000
NODE_ENV=development
API_KEY=bhd_secret_token_123456
DASHBOARD_PIN=0819
CORS_ORIGIN=*

# Base de Datos Local (PostgreSQL Docker / Localhost)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bills_db?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/bills_db?schema=public"

# Base de Datos Producción (Supabase - Configurar en las variables de entorno de tu hosting / Render / Railway)
# DATABASE_URL="postgresql://postgres.fxijnufrdixjvizeynir:bhd_secret_token_123456@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
# DIRECT_URL="postgresql://postgres.fxijnufrdixjvizeynir:bhd_secret_token_123456@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
